<div class="gift-banner">
  <div class="baner-top-header desktop_view">
    {% if section.settings.logo_text %}
      <h2 class="gift-logo">{{ section.settings.logo_text }}</h2>
    {% endif %}
    {% if section.settings.sub_text %}
      <p class="gift-sub">{{ section.settings.sub_text }}</p>
    {% endif %}
    {% if section.settings.choose_gift_btn %}
      <a href="{{ section.settings.choose_gift_link }}" class="btn btn-yellow">
        {{ section.settings.choose_gift_btn }}
        <span>{% render 'icon-arrow-right' %}</span>
      </a>
    {% endif %}
  </div>
  <div class="baner-top-header mobile_view">
    <div class="header-ni-mobile">
      {% if section.settings.logo_text %}
        <h2 class="gift-logo">{{ section.settings.logo_text }}</h2>
      {% endif %}
      <div class="menu-header">
        <div class="bar-icon">
          <div class="banner-bar-ni">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-hamburger" viewBox="0 0 18 16">
              <path fill="currentColor" d="M1 .5a.5.5 0 1 0 0 1h15.71a.5.5 0 0 0 0-1zM.5 8a.5.5 0 0 1 .5-.5h15.71a.5.5 0 0 1 0 1H1A.5.5 0 0 1 .5 8m0 7a.5.5 0 0 1 .5-.5h15.71a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5"></path>
            </svg>
          </div>
          <div class="banner-close-ni">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-close" viewBox="0 0 18 17">
              <path fill="currentColor" d="M.865 15.978a.5.5 0 0 0 .707.707l7.433-7.431 7.579 7.282a.501.501 0 0 0 .846-.37.5.5 0 0 0-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 1 0-.707-.708L8.991 7.853 1.413.573a.5.5 0 1 0-.693.72l7.563 7.268z"></path>
            </svg>
          </div>
        </div>
        <ul>
          {% if section.settings.sub_text %}
            <li class="gift-sub">{{ section.settings.sub_text }}</li>
          {% endif %}
          {% if section.settings.choose_gift_btn %}
            <li>
              <a href="{{ section.settings.choose_gift_link }}" class="btn btn-yellow">
                {{ section.settings.choose_gift_btn }}
                {% render 'icon-arrow-right' %}
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="hero-banner-image">
    {% assign image_data = section.settings.banner_bg %}
    {% if image_data %}
      <img
        srcset="
          {% if image_data.width >= 350 %}{{ image_data | image_url: width: 350 }} 350w,{% endif %}
          {% if image_data.width >= 750 %}{{ image_data | image_url: width: 750 }} 750w,{% endif %}
          {% if image_data.width >= 1100 %}{{ image_data | image_url: width: 1100 }} 1100w,{% endif %}
          {% if image_data.width >= 1500 %}{{ image_data | image_url: width: 1500 }} 1500w,{% endif %}
          {% if image_data.width >= 2200 %}{{ image_data | image_url: width: 2200 }} 2200w,{% endif %}
          {% if image_data.width >= 3000 %}{{ image_data | image_url: width: 3000 }} 3000w,{% endif %}
          {{ image_data | image_url }} {{ image_data.width }}w
        "
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
        src="{{ image_data | image_url: width: 1100 }}"
        loading="lazy"
        width="{{ image_data.width }}"
        height="{{ image_data.height }}"
      >
    {% endif %}
  </div>
  <div class="gift-content">
    <div class="gift-banner-row">
      <div class="col-md-5">
        {% if section.settings.main_heading %}
          <h3 class="gift-heading">{{ section.settings.main_heading }}</h3>
        {% endif %}
        {% if section.settings.description %}
          <p class="gift-desc">{{ section.settings.description }}</p>
        {% endif %}
        {% if section.settings.shop_now_btn %}
          <a href="{{ section.settings.shop_now_link }}" class="btn btn-black">
            {{ section.settings.shop_now_btn }}
            <span>{% render 'icon-arrow-right' %}</span>
          </a>
        {% endif %}
      </div>
      <div class="col-md-7">
        <div class="gift-bottom-img">
          {% assign bottom_image = section.settings.bottom_image %}
          {% if bottom_image %}
            <img
              srcset="
                {% if bottom_image.width >= 350 %}{{ bottom_image | image_url: width: 350 }} 350w,{% endif %}
                {% if bottom_image.width >= 750 %}{{ bottom_image | image_url: width: 750 }} 750w,{% endif %}
                {% if bottom_image.width >= 1100 %}{{ bottom_image | image_url: width: 1100 }} 1100w,{% endif %}
                {% if bottom_image.width >= 1500 %}{{ bottom_image | image_url: width: 1500 }} 1500w,{% endif %}
                {% if bottom_image.width >= 2200 %}{{ bottom_image | image_url: width: 2200 }} 2200w,{% endif %}
                {% if bottom_image.width >= 3000 %}{{ bottom_image | image_url: width: 3000 }} 3000w,{% endif %}
                {{ bottom_image | image_url }} {{ bottom_image.width }}w
              "
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
              src="{{ bottom_image | image_url: width: 1100 }}"
              loading="lazy"
              width="{{ bottom_image.width }}"
              height="{{ bottom_image.height }}"
            >
          {% endif %}
        </div>
      </div>
    </div>
    <div class="gift-footer">
      <p>{{ section.settings.footer_text }}</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Gift Guide Banner",
  "settings": [
    {
      "type": "text",
      "id": "logo_text",
      "label": "Logo Text",
      "default": "TISSO VISON"
    },
    {
      "type": "text",
      "id": "sub_text",
      "label": "Sub Heading",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "choose_gift_btn",
      "label": "Choose Gift Button",
      "default": "CHOOSE GIFT"
    },
    {
      "type": "url",
      "id": "choose_gift_link",
      "label": "Choose Gift Link"
    },
    {
      "type": "image_picker",
      "id": "banner_bg",
      "label": "Background Illustration"
    },
    {
      "type": "image_picker",
      "id": "bottom_image",
      "label": "Bottom Illustration Image"
    },
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "shop_now_btn",
      "label": "Shop Now Button",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "shop_now_link",
      "label": "Shop Now Link"
    },
    {
      "type": "text",
      "id": "footer_text",
      "label": "Footer Text",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    }
  ],
  "presets": [
    {
      "name": "Gift Guide Banner"
    }
  ]
}
{% endschema %}

<style>
.baner-top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    background: #F5F5F5;
    padding: 0 160px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gift-banner {
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}

.gift-logo {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.gift-sub {
    font-size: 16px;
}

p.gift-sub {
    margin: 0;
}

.hero-banner-image img {
    width: 100%;
    height: 100%;
    display: block;
}

.gift-banner-row {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 160px;
}

.gift-banner-row .col-md-5 {
    width: 34%;
    text-align: left;
}

.gift-banner-row .col-md-7 {
    width: 66%;
}

.gift-heading {
    font-size: 45px;
    font-weight: bold;
    margin: 20px 0;
}

.gift-desc {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px auto 30px;
    max-width: 600px;
    text-align: left;
}

.baner-top-header .btn-yellow {
    display: inline-block;
    padding: 5px 30px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}

.btn-yellow {
    background: #ffe600;
    color: #000;
}

a.btn.btn-yellow {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 13px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease;
}

a.btn.btn-yellow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.4s ease;
    z-index: -1;
}

a.btn.btn-yellow:hover {
    color: #fff;
    border-color: #000;
}

a.btn.btn-yellow:hover::before {
    transform: scaleX(1);
}

a.btn.btn-yellow:hover svg path {
    fill: #fff;
}


span svg {
    width: 24px;
}

.gift-banner-row .btn-black {
    display: inline-block;
    padding: 12px 30px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}

.btn-black {
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 1;
}

.btn-black svg path {
    fill: #fff;
}

.btn-black::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffe600;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.4s ease;
    z-index: -1;
}

.btn-black:hover {
    color: #000;
}

.btn-black:hover::before {
    transform: scaleX(1);
}

.btn-black:hover svg path {
    fill: #000;
}

.btn .btn-black span svg {
    width: 60px;
}

.gift-bottom-img {
    margin-top: 0;
}

.gift-bottom-img img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gift-footer {
    margin-top: 0;
    font-size: 14px;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    background: #F5F5F5;
    bottom: 0;
    left: 0;
}

.baner-top-header.mobile_view {
    display: none;
}

.menu-header ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.banner-close-ni {
    display: none;
    cursor: pointer;
}

.banner-bar-ni {
    cursor: pointer;
}




@media (max-width: 580px) {

    .baner-top-header.desktop_view {
        display: none;
    }

    .baner-top-header.mobile_view {
        display: block;
        padding: 20px 30px;
        position: static;
    }

    .header-ni-mobile {
        display: flex;
        align-items: center;
    }

    .header-ni-mobile .menu-header {
        width: 24px;
        margin-right: 30px;
    }

    h2.gift-logo {
        order: 2;
        width: 70%;
        font-size: 30px;
    }

    .header-ni-mobile .menu-header .banner-bar-ni svg {
        display: block;
    }

    .menu-header ul {
        position: fixed;
        top: 79px;
        background: #fff;
        left: -100%;
        height: 100vh;
        padding: 20px;
        width: 80%;
        transition: 0.3s;
        z-index: 9;
    }

    .menu-header ul.active {
        left: 0%;
        transition: 0.3s;
    }

    .hero-banner-image img {
        display: none;
    }

    .gift-banner-row {
        flex-wrap: wrap;
        padding: 0;
    }

    .gift-banner-row .col-md-5 {
        width: 100%;
        text-align: center;
        padding: 0 10px;
    }

    .gift-banner-row .gift-desc {
        text-align: center;
    }

    .gift-banner-row .col-md-7 {
        width: 100%;
    }

    .gift-banner-row .btn-black {
        position: absolute;
        bottom: 190px;
        display: block;
        transform: translateX(-50%);
        left: 50%;
    }







}

</style>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const barIcon = document.querySelector('.banner-bar-ni');
    const closeIcon = document.querySelector('.banner-close-ni');
    const menuList = document.querySelector('.menu-header ul');

    if (barIcon && closeIcon && menuList) {
      barIcon.addEventListener('click', function () {
        menuList.classList.add('active');
        menuList.style.display = 'block';
        barIcon.style.display = 'none';
        closeIcon.style.display = 'block';
      });

      closeIcon.addEventListener('click', function () {
        menuList.classList.remove('active');
        menuList.style.display = 'none';
        closeIcon.style.display = 'none';
        barIcon.style.display = 'block';
      });
    }
  });
</script>
